/* parent container for the page */
.landing__container {
  overflow: hidden;
  background: transparent;
}

/* individual container for all background images to set them behind */
.landing__sendBack {
  position: relative;
  z-index: -1;
}

.landing__BgImage {
  display: grid;
  justify-content: flex-end;
}

.landing__BgImage > img {
  height: 100vh;
  /* object-fit: contain; */
}

.landing__characterImage {
  position: absolute;
  right: 180px;
  top: 30px;
}
.landing__characterImage > img {
  height: 90vh;
}

/* individual container for all elements to bring them in front */
.landing__bringFront {
  position: absolute;
  width: 98vw;
  height: 100vh;
  top: 0;
  left: 0;
}

/* main header  */
.landing__header {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.landing__logoImage {
  height: 80px;
  width: 100px;
  object-fit: contain;
}

.landing__loginBtn {
  align-self: center;
  font-size: large;
  font-weight: bold;
  color: white;
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.7em 2.5rem;
}

/* body section */
.landing__body {
  padding: 3em 8em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 90%;
}

.landing__heading {
  font-size: 4rem;
  max-width: 10ch;
  line-height: 90%;
}
.landing__subHeading {
  font-size: 1rem;
  color: #545454;
  max-width: 40vw;
}

.landing__registerBtn {
  font-size: large;
  padding: 0.8em 2.5em;
  font-weight: bold;
  color: #fff;
  background: var(--bg-dark);
  border-radius: 5px;
  padding: 0.7em 2.5em;
}
.landing__loginBtn:hover {
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.7);
  background: white;
  color: black;
}

.landing__registerBtn:hover {
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.7);
  background: white;
  color: black;
}

@media screen and (max-width: 950px) {
  .landing__body {
    padding: 4rem;
  }

  .landing__characterImage {
    right: -8vw;
  }
  .landing__BgImage > img {
    position: relative;
    right: -180px;
  }
  .landing__loginBtn {
    color: #fff;
    background: var(--bg-dark);
  }
}

@media screen and (max-width: 720px) {
  .landing__BgImage > img {
    position: relative;
    right: -350px;
  }
  .landing__loginBtn {
    color: #fff;
    background: var(--bg-dark);
  }

  .landing__characterImage {
    position: absolute;
    height: 75vh;
    right: -10vw;
    top: 18vh;
  }
  .landing__characterImage > img {
    height: 75vh;
    object-fit: contain;
  }

  .landing__heading {
    font-size: 2.5rem;
  }
  .landing__subHeading {
    font-size: 0.8rem;
  }
  .landing__loginBtn {
    font-size: normal;
    font-weight: normal;
    border-radius: 5px;
    padding: 0.5em 1.7rem;
  }
  .landing__registerBtn {
    font-size: normal;
    font-weight: normal;
    border-radius: 5px;
    padding: 0.5em 1.7rem;
  }
  .landing__body {
    padding: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .landing__BgImage > img {
    position: relative;
    right: -400px;
  }
  .landing__body {
    padding: 1rem;
  }

  .landing__characterImage {
    right: -10vw;
    top: 200px;
  }
  .landing__characterImage > img {
    height: 50vh;
    object-fit: contain;
  }
}


@media screen and (max-width: 400px) {
  .landing__BgImage > img {
    position: relative;
    right: -450px;
  }

}