/*  registration form css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body */
body{
    height: 100%;
}
/* main container css */
.mainContainer {
  display: flex;
  height: 100vh;
}

/* image container css */
.imageContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image{
    max-height: 50vh;
    max-width: 100%;
    object-fit: contain;
}

/* registration form css */
.regForm {
  flex: 1;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fffdfd;
  border-radius: 4px;
}
.regForm h1{
    text-align: center;
    margin-bottom: 20px;
}

.regForm input{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.regForm button[type="submit"]{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #0e0e0e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.regForm button[type="submit"]:hover {
    background-color: white;
    color: #0e0e0e;
  }