/* Main container */
.activity__container {
    display: flex;
}

/* Left container styles */
.activity__containerLeft {
    flex: 0.5;
}

.activity__containerLeft>img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* Right container styles */
.activity__containerRight {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    ;
    justify-content: center;
    position: relative;
}

.activity__form {
    display: flex;
    flex-direction: column;
    width: 20rem;
    justify-content: center;
    margin: 40px 0;
}

.activity__containerRight>h2 {
    font-size: 36px;
}

.activity__form input, .activity__form select {
    padding: 15px;
    margin: 5px 0;
    background: var(--bg-light);
    border: 1px solid lightgray;
    border-radius: 5px;
}

.activity__form>input[type="submit"] {
    background: var(--bg-dark);
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
}

.activity__form>input[type="submit"]:hover {
    background: #111;
}


.back__icon{
    position:absolute;
    top:0;
    left:0;
    margin-top:20px;
    margin-left:20px;
    cursor:pointer;
}
@media only screen and (max-width:720px) {
    .activity__containerLeft {
        flex: 0;
    }

    .activity__containerRight {
        flex: 1;
    }
}

::placeholder {
    font-size: 14px;
}