.card{
    height:300px;
    width:100%;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:1.5rem;
    position:relative;
    grid-column:span 1;
}
.card:first-child{
    grid-column: span 2;
}

.activity > h3{
    font-size:36px;
}
.activity__date{
    position:absolute;
    left:0;
    bottom:0;
    font-size:0.8rem;
    margin-left:20px;
    margin-bottom:10px;
    background:#000;
    padding:5px 10px;
    border-radius:30px;
}


@media only screen and (max-width:790px){
    .card__running{
        grid-column:span 1;
    }
    .card{
        font-size:1.3rem;
    }
    .activity{
        flex-direction:column;
        justify-content:flex-start;
        align-items:flex-start;
    }
    .header__date{  
        margin:0;
        margin-top:5px;
        margin-bottom:5px;
    }
}
