.dashboard__sidebar {
    background: var(--bg-dark);
    color: #fff;
    height: 100vh;
    padding: 20px;
    flex: 0.2;
    position: sticky;
    top: 0;
    max-width:400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.dashboard__sidebarTop {
    display: flex;
    flex-direction: column;
}

.dashboard__item {
    display: flex;
    margin: 10px 0;
    align-items: center;
}


.link {
    font-weight: lighter;
    display: flex;
        align-items: center;
}

.link>p {
    margin-left: 20px;
}
.link__create,
.link__home {
    padding-left: 10px;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
}

@media only screen and (max-width:720px){
    .link{
        font-size:1rem;
    }
}

@media only screen and (max-width:620px){
    .link > p{  
        display:none;
    }

    .dashboard__item{
        justify-content:center;
    }

    .dashboard__sidebar{
        flex:0.04;
    }
}

@media only screen and (max-width:490px){
    .avatar__container{
        flex-direction:column;
        margin-top:20px;
    }

    .username{
        margin-top:5px;
    }
}