/* font family */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}

/* details main container */
.main__container {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.sidebar__container{
  position:sticky;
  top:0;
}
/* details card */
.details__card {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  height: 100vh;
  margin-left: 10px;
}

/* heading card */
.detail__heading>h1 {
  margin-bottom: 10px;
  margin-left: 15px;
  font-family: poppins-regular;
  font-size: 36px;
  color: var(--primary-text-color)
}

/* image card */
.detail__image__container {
  max-width: 750px;
  height: 350px;
  margin: 20px 0;
}

.detail__image__container>img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: cover;
}

/* details container */
.details__container {
  background: var(--bg-light);
  max-width: 1200px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

/* details up card */
.detail__up__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 14px;
  margin-left: 10px;
  margin-right: 18px;
}

/* In details up left details */
.left__detail>p {
  font-family: poppins-regular;
  margin-bottom: 8px;
  line-height: 16px;
}

/* time in details */
#left__time__detail {
  font-family: poppins-regular;
  font-size: 14px;
  color: var(--secondary-text-color);
  font-weight: normal;
}

/* In details UP right details icons */
.right__detail {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

/* edit icon */
.edit__icon {
  color: green;
}

/* delete icon */
.delete__icon {
  color: rgb(212, 11, 11);
}

/* detail down container  */
.detail__down__container {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
/* p tag in details down container */
.detail__down__container > p{
  font-size: 16px;
  font-family: poppins-regular;
  color: var(--primary-text-color);
}
/*In detail down container duration detail  */
.duration__detail {
  color: var(--secondary-text-color);
  text-align: center;
}

/* media query */
/* width 768 */
@media (max-width: 768px) {
  .main__container {
    flex-direction: row;
    height: 100vh;
  }

  .details__card {
    margin: 10px;
    max-width: 100%;
    height: fit-content;
    padding: 10px;

  }

  .detail__heading {
    font-size: 16px;
    margin-bottom: 2px;
  }

  .detail__image__container {
    width: 100%;
    height: fit-content;
  }

  .details__container {
    font-size: 12px;
  }

  .right__detail {
    font-size: 10px;
  }

  .detail__down__container {
    font-size: 12px;
  }
}

/* width 1280px */
@media (max-width: 1280px) {
  .main__container {
    flex-direction: row;
  }

  .details__card {
    height: fit-content;
  }
}