.details__cardContainer{
  background:#f3f3f3;
  padding:10px;
  margin-top:10px;
  width:100%;
  border:1px solid lightgray;
  border-radius:5px;
  max-width:800px;
}

.details__cardTop{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-bottom:15px;
}

.edit__icon{
  color:mediumseagreen;
}
.delete__icon{
  color:rgb(191, 13, 48);
}

.details__action{
  cursor:pointer;
}

.details__action:hover{
  color:black;
}

.details__cardBottom{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-bottom:10px;
}

.date{
  font-weight:bold;
}

.time{
  font-size:14px;
  color:#333;
}

.detail__actions{
  display:flex;
  align-items:center;
  gap:5px;
}

.duration{
  margin-right:5px;
}